{% if user_form.errors %}
            <div class="text-danger">{{ user_form.username.errors }}</div>
      
    <ul class="messages">
        {% for error in user_form.errors %}
            <li class="message {{ message.tags }}">
                <span class="icon">
                    {% if 'error' in message.tags %}
                        <i class="fas fa-exclamation-circle"></i>
                    {% elif 'success' in message.tags %}
                        <i class="fas fa-check-circle"></i>
                    {% elif 'info' in message.tags %}
                        <i class="fas fa-info-circle"></i>
                    {% elif 'warning' in message.tags %}
                        <i class="fas fa-exclamation-triangle"></i>
                    {% endif %}
                </span>
                <span class="message-text">{{ message }}</span>
            </li>
        {% endfor %}
    </ul>
{% endif %}
