{% extends 'base/main.html' %}

{% load static %}
{% block css_content %}
<style>
    .alert {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        text-align: center;
    }
    
</style>
    <link rel="stylesheet" href="{% static 'base/login_page.css' %}">
{% endblock css_content %}

{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="media/base/download-removebg-preview.png' %}" alt="">
    </div>
    <div class="text-center mt-4 name">
        OLX
    </div>

    <!-- Error message display -->
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form class="p-3 mt-3" method="POST" action="">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="{% url 'register-page' %}">Sign up</a>
    </div>
</div>
{% endblock content %}
