{% extends 'base/main.html' %}

{% load static %}
{% block css_content %}
    <link rel="stylesheet" href="{% static 'base/login_page.css' %}">
{% endblock css_content %}


{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="media/base/download-removebg-preview.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Olx
    </div>
    <form class="p-3 mt-3" method="POST" action="">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        {% comment %} <a href="#">Forget password?</a> or  {% endcomment %}
        <a href="{% url 'register-page' %}">Sign up</a>
    </div>
</div>
{% endblock content %}
    