<form method="GET" class /action="{% url 'home' %}" id="categoryForm">
  <input type="hidden" name="category" id="categoryInput">

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img class="navbar-brand" src="media/base/download-removebg-preview.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Home with dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="homeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home
            </a>
            <ul class="dropdown-menu" aria-labelledby="homeDropdown">
              <li><a class="dropdown-item" href="#">Home Action 1</a></li>
              <li><a class="dropdown-item" href="#">Home Action 2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Another Home Action</a></li>
            </ul>
          </li>

          <!-- Link with dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="linkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="linkDropdown">
              <li><a class="dropdown-item" href="#" onclick="submitCategory('')">All</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitCategory('electronics')">Electronics</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitCategory('vehicles')">Vehicles</a></li>
              <li><a class="dropdown-item" href="#" onclick="submitCategory('furniture')">Furniture</a></li>
            </ul>
          </li>

          <!-- Disabled link -->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</form>

<script>
  function submitCategory(category) {
    document.getElementById('categoryInput').value = category;
    document.getElementById('categoryForm').submit();
  }
</script>
