<form method="GET" action="{% url 'home' %}" id="categoryForm">
  <input type="hidden" name="category" id="categoryInput">

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="navbar-brand" src="media/base/download-removebg-preview.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Dropdown menus (Home, Category, etc.) remain the same -->
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <a href="{% url 'product_create_form' %}" class="btn btn-create">Create Product</a>
        </form>
      </div>
    </div>
  </nav>
</form>

<script>
  function submitCategory(category) {
    document.getElementById('categoryInput').value = category;
    document.getElementById('categoryForm').submit();
  }
</script>
