{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<style>
    .alert {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static 'base/login_page.css' %}?v={}">
{% endblock css_content %}
{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="/media/base/download-removebg-preview.png" alt="Logo">
    </div>
    <div class="text-center mt-4 name">
        OLX
    </div>
    {% include 'base/templates/base/form_error.html.html' %}

    <form method="POST" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-user-circle"></span> <!-- Icon for username -->
            {{ user_form.username }}    
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-envelope"></span> <!-- Icon for email -->
            {{ user_form.email }}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-lock"></span> <!-- Icon for password -->
            {{ user_form.password1 }}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span> <!-- Icon for confirm password -->
            {{ user_form.password2 }}
        </div>
        <button type="submit" class="btn mt-3">Sign Up</button>
    </form>
    <div class="text-center fs-6">
        <a href="{% url 'login-page' %}">Already have an account? Login</a>
    </div>
</div>
{% endblock content %}
