{% extends "base/main.html" %}

{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Twitter
    </div>
    <form method="POST" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            {{ user_form.username }}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            {{ user_form.email }}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            {{ user_form.password1 }}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            {{ user_form.password2 }}
        </div>
        <button type="submit" class="btn mt-3">Sign Up</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Already have an account? Login</a>
    </div>
</div>
{% endblock content %}
