{% extends 'base/main.html' %}

{% block css_content %}
    <style>

    </style>
{% endblock css_content %}

{% block content %}
    <h1>Product Details</h1>
    <a href="{% url 'product_create_form' %}">Create New Product</a>

    {% for product in products %}
    <div class="card__image-container">
        <img src="{{imageAddress}}" alt="{{name}}" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">{{name}}</h1>
    
        <h3 class="card__type">e
          {{type}}
        </h3>
    
        <table class="card__stats">
          <tr>
            <th>HP</th>
            <td>{{hp}}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{attack}}</td>
          </tr>
          
          <tr>
            <th>Defense</th>
            <td>{{defense}}</td>
          </tr>
    
          <tr>
            <th>Special Attack</th>
            <td>{{spAttack}}</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>{{spDefense}}</td>
          </tr>
          <tr>
            <th>Speed</th>  
            <td>{{speed}}</td>
          </tr>
        </table>
        
        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            {{ability1}}
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Hidden Ability</span>
            {{ability2}}
          </h4>
        </div>
    {% endfor %}
{% endblock content %}
