{% extends 'base/main.html' %}

{% block css_content %}
.additionalInfo {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #aaa; /* Light color for additional info */
}

.additionalInfo p {
    margin: 0.2rem 0; /* Spacing between info items */
}

.tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; /* Added margin for spacing */
}

.price, .category {
    display: flex;
    align-items: center;
    color: #ee83e5; /* Price color */
}

.category {
    color: #a89ec9; /* Category color */
}

/* Ensure the image and text sections maintain good alignment */
.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    align-items: center; /* Center align items */
}

{% endblock css_content %}
    
{% block content %}
    <h1>hello</h1>
    <a href="{% url 'product_create_form' %}">Create</a>

    {% for product in products %}
    <div class="nft">
        <div class='main'>
            <img class='tokenImage' src="media/product_images/images.png" alt="Product Image" />
            <h2>{{ product.title }}</h2>
            <p class='description'>{{ product.description }}</p>
            <div class='tokenInfo'>
                <div class="price">
                    <ins>◘</ins>
                    <p>{{ product.price }} ETH</p>
                </div>
                <div class="category">
                    <ins>◷</ins>
                    <p>{{ product.category }}</p>
                </div>
            </div>
            <div class='additionalInfo'>
                <p><strong>Location:</strong> {{ product.location }}</p>
                <p><strong>Condition:</strong> {{ product.condition }}</p>
                <p><strong>Posted by:</strong> {{ product.posted_by }}</p>
                <p><strong>Date posted:</strong> {{ product.date_post }}</p>
                <p><strong>State:</strong> {{ product.state }}</p>
            </div>
            <hr />
            <div class='creator'>
                <div class='wrapper'>
                    <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Creator" />
                </div>
                <p><ins>Creation of</ins> Kiberbash</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
