{% extends 'base/main.html' %}
{% load static %}
{% block css_content %}

<link rel="stylesheet" href="{% static 'product/create_product.css' %}?c={{d}}">

{% endblock css_content %}

{% block content %}
    <div class="exam-form-container">
        <h2>Update Product</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if product_form.errors %}
    <div class="form-errors">
        <h4>Product Form Errors:</h4>
        <ul>
            {% for field in product_form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in product_form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

            
            {% for f in product_form %}
                <div class="form-group">
                    {{ f }}
                    {% if f.errors %}
                        <div class="error">{{ f.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <div class="form-group image-upload-container">
                {% for i in number_of_image_fields %}
                    <div class="image-upload-box">
                        <input type="file" name="images" id="id_images_{{ i }}" multiple required>
                        {% if image_form.images.errors %}
                            <div class="error">{{ image_form.images.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            

            <button type="submit">Update Product</button>
        </form>
    </div>
{% endblock content %}
