{% extends 'base/main.html' %}
{% load custom_filters %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'product/product_details.css' %}?v={{time}}">
{% comment %} <link rel="stylesheet" href="{% static 'product/product_carousel.css' %}?v={{time}}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'product/prod_car.css' %}">
<link rel="stylesheet" href="{% static 'product/product2.css' %}">
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans"> {% endcomment %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back" />

{% endblock css_content %}

{% block content %}
<div class="container">
    <div class="product-page">
        <div class="product-images">
            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img id="mainImage" src="{{ image.image.url }}" class="main-img" alt="{{ product.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="thumbnail-gallery">
                {% for image in product.images.all %}
                    <img src="{{ image.image.url }}" class="thumbnail-img" onclick="changeImage('{{ image.image.url }}')">
                {% endfor %}
            </div>
        </div>

        <div class="product-details">
            <h1 class="product-title">{{ product.title }}</h1>
            <p class="product-description">{{ product.description }}</p>
            <div class="product-info">
                <div class="info-item"><strong>Location:</strong> {{ product.location }}</div>
                <div class="info-item"><strong>Condition:</strong> {{ product.condition }}</div>
                <div class="info-item"><strong>State:</strong> {{ product.state }}</div>
                <div class="info-item"><strong>Active:</strong> {{ product.is_active|yesno:"Yes,No" }}</div>
            </div>
            <div class="product-price">$ {{ product.price }}</div>
            <button class="btn-buy">Add to Cart</button>
        </div>
    </div>
</div>


{% comment %} <section class="product">
    <div class="product__photo">
            <div class="photo-main">
                <div class="controls">
                    <i class="material-icons">share</i> 
                    <i class="material-icons">favorite_border</i>
                </div>
                <img id="mainImage" src="{{first_image.image.url}}" alt="green apple slice">
            </div>
            <div class="photo-album">
                {% for image in product.images.all %}
                <ul>
                    <li><img src="{{image.image.url}}" alt="green apple" onclick="changeImage(this.src)"></li>
               {% endfor %}
                </ul>
            </div>
        </div>
    
    <div class="product__info">
        <div class="title">
            <h1>Delicious Apples</h1>
            <span>COD: 45999</span>
        </div>
        <div class="price">
            R$ <span>7.93</span>
        </div>
        <div class="variant">
            <h3>SELECT A COLOR</h3>
            <ul>
                <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png" alt="green apple"></li>
                <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302752/codepen/delicious-apples/yellow-apple.png" alt="yellow apple"></li>
                <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302427/codepen/delicious-apples/orange-apple.png" alt="orange apple"></li>
                <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302285/codepen/delicious-apples/red-apple.png" alt="red apple"></li>
            </ul>
        </div>
        <div class="description">
            <h3>BENEFITS</h3>
            <ul>
                <li>Apples are nutritious</li>
                <li>Apples may be good for weight loss</li>
                <li>Apples may be good for bone health</li>
                <li>They're linked to a lower risk of diabetes</li>
            </ul>
        </div>
        <button class="buy--btn">ADD TO CART</button>
    </div>
</section> {% endcomment %}




<div class="container-xl">
    <div class="row">
		<div class="col-md-12">
			<h2>Suggested <b>Products</b></h2>
			<div id="suggestedProductsCarousel" class="carousel slide custom-carousel" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators custom-carousel-indicators">
                    {% for group in grouped_suggested_products %}
					<li data-target="#suggestedProductsCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
					{% endfor %}
				</ol>
				
				<!-- Carousel items -->
				<div class="carousel-inner">
                    {% for group in grouped_suggested_products %}
					<div class="carousel-item {% if forloop.first %}active{% endif %} custom-item">
                        <div class="row">
							{% for sugg_product in group %}
							<div class="col-sm-3">
								<div class="card-wrapper">
									<span class="favorite-icon"><i class="fa fa-heart-o"></i></span>
									<div class="image-container">
                                        {% if suggest_product_images|get_item:sugg_product.id %}
											<img src="{{ suggest_product_images|get_item:sugg_product.id }}" class="img-fluid" alt="{{ sugg_product.name }}">
                                            {% else %}
											<img src="/path/to/placeholder-image.jpg" class="img-fluid" alt="No image available">
										{% endif %}
									</div>
									<div class="content-wrapper">
										<h4>{{ sugg_product.name }}</h4>
										<p class="price"><b>${{ sugg_product.price }}</b></p>
										<a href="{% url 'product_details' sugg_product.id %}" class="btn btn-primary">View Product</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
                <a class="carousel-control-prev custom-carousel-control" href="#suggestedProductsCarousel" role="button" data-slide="prev">
                    <span class="material-symbols-outlined">arrow_back</span>
                    <span class="sr-only">Previous</span>
                </a>
                
                <a class="carousel-control-next custom-carousel-control" href="#suggestedProductsCarousel" role="button" data-slide="next">
                    <span class="material-symbols-outlined">arrow_forward</span>
                    <span class="sr-only">Next</span>
                </a>
                
                
                
			</div>
		</div>
	</div>
</div>

<script>
    function changeImage(imageSrc) {
        document.getElementById('mainImage').src = imageSrc;
    }
</script>
{% endblock content%}