
{% extends "base/main.html" %}

{% block css_content %}
    <style>
        @font-face {
            font-family: 'Pe-icon-7-stroke';
            src: url('/static/fonts/Pe-icon-7-stroke.woff') format('woff'),
                 url('/static/fonts/Pe-icon-7-stroke.ttf') format('truetype');
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Products Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet">
{% endblock css_content %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ plan_form.as_p }}
    
    <h3>Features</h3>
    {{ formset.management_form }}
    <div>
        {% for form in formset %}
            <div class="form-row">
                {{ form.as_p }}
                <button type="button" class="delete-btn" onclick="deleteFeatureForm(this)">Delete</button>
            </div>
        {% endfor %}
    </div>
    
    <button type="submit">Save Plan</button>
</form>

<script>
    function deleteFeatureForm(button) {
        // Hide the feature form when delete is clicked
        const formRow = button.closest('.form-row');
        formRow.querySelector('input[name$="-DELETE"]').value = "on"; // Mark form for deletion
        formRow.style.display = "none"; // Hide form visually
    }
</script>
