{% extends "base/main.html" %}
{% block css_content %}
<style>
    @font-face {
        font-family: 'Pe-icon-7-stroke';
        src: url('/static/fonts/Pe-icon-7-stroke.woff') format('woff'),
             url('/static/fonts/Pe-icon-7-stroke.ttf') format('truetype');
    }
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>PaymentType Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description" content="Dashboard displaying orders with payment status.">
<meta name="msapplication-tap-highlight" content="no">
<link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet">
{% endblock css_content %}

{% block content %}
{% include "panel/panel_navbar.html" %}
<div class="container-fluid">
    <div class="main-card mb-3 card">
        <div class="card-header">
            paymentTypes
            <a href="{% url 'create_order' %}" class="btn-actions-pane-right">Create paymentTypes</a>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">paymentTypes ID</th>
                        <th class="text-center">Name</th>
                        
                        <th class="text-center">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paymentType in paymentTypes %}
                        <tr>  
                            <td class="text-center text-muted">{{ paymentType.id }}</td>
                            <td class="text-center text-muted">{{ paymentType.name}}</td>
                            <td class="text-center">
                                <a href="{% url 'update_paymentType' paymentType.id %}" class="btn btn-info btn-sm">Edit</a>
                                <a href="{% url 'delete_paymentType' paymentType.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this paymentType?');">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No paymentTypes found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
