{% extends "base/main.html" %}
{% block css_content %}
<style>
    @font-face {
        font-family: 'Pe-icon-7-stroke';
        src: url('/static/fonts/Pe-icon-7-stroke.woff') format('woff'),
             url('/static/fonts/Pe-icon-7-stroke.ttf') format('truetype');
    }
    
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Analytics Dashboard - This is an example dashboard created using build-in elements and components.</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description" content="This is an example dashboard created using build-in elements and components.">
<meta name="msapplication-tap-highlight" content="no">
<link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet"></head>
{% endblock css_content %}
{% block content %}
{% include "panel/panel_navbar.html" %}
<div class="container-fluid">
    <div class="main-card mb-3 card">
        <div class="card-header">transaction 
            <a href="{% url 'create_state' %}" class="btn-actions-pane-right">
            create
            </a>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center">name</th>
                    
                    <th class="text-center">operations</th>

                </tr>
                </thead>
                <tbody>
                {% for state in transaction %}
                
              
                    <tr>
                    <td class="text-center text-muted">{{state.name}}</td>
                    
                    <td class="text-center">
                        <!-- Edit and Delete Operations -->
                        <a href="{% url 'update_state' state.id %}" class="btn btn-info btn-sm">Edit</a>
                        <a href="{% url 'delete_state' state.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this plan?');">Delete</a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
      
    </div>
{% endblock content %}