{% extends "base/main.html" %}

{% block content %}
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">Active Users
            <div class="btn-actions-pane-right">
                <div role="group" class="btn-group-sm btn-group">
                    <button class="active btn btn-focus">Last Week</button>
                    <button class="btn btn-focus">All Month</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center">username</th>
                    <th>name</th>
                    <th class="text-center">phone_no</th>
                    <th class="text-center">verified_type</th>
                    <th class="text-center">email</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                
              
                    <tr>
                    <td class="text-center text-muted">{{customer.user.username}}</td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">{{customer.name}}</div>
                                    <div class="widget-subheading opacity-7">user id: {{customer.user.id}}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{customer.phone_no}}</td>
                    <td class="text-center">
                        {% comment %} <td class="text-center">{{customer.verified_type}}</td> {% endcomment %}

                        <div class="badge badge-warning">{{customer.verified_type}}</div>
                    </td>
                    <td class="text-center">{{customer.email}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
            <button class="btn-wide btn btn-success">Save</button>
        </div>
    </div>
{% endblock content %}